<template>
  <Time />
  <div class="container-fluid row m-3 wrapper-app">
    <div class="col-xs-12 col-md-12 col-lg-4 px-4">
      <div class="title-1">
        <h5>Fichar</h5>
      </div>
      <form @submit.prevent="procesarFormulario">
        <!-- Esto es una prop -->
        <Clocking :acceso="acceso" />
      </form>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-4 px-5">
      <div class="title-1">
        <h5>Estado de animo</h5>
        <Mood />
      </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-4 px-4">
      <div class="title-1">
        <h5>Últimos marcajes registrados</h5>
        <ListClockings />
      </div>
    </div>
  </div>
</template>

<script>
import Clocking from "../components/Clocking";
import Mood from "../components/Mood";
import ListClockings from "../components/ListClockings";
import Time from "../components/Time";
import { mapActions } from "vuex";
const shortid = require("shortid");

export default {
  name: "Home",
  components: {
    Clocking,
    Mood,
    ListClockings,
    Time,
  },
  data() {
    return {
      acceso: {
        id: "",
        clave: "",
        contrasena: "",
        dates: "",
      },
    };
  },
  methods: {
    ...mapActions(["setAccesos"]),
    procesarFormulario() {
      console.log(this.acceso);
      if (this.acceso.clave.trim() === "") {
        console.log("Campo vacío");
        return;
      }
      console.log("No está vacio");

      // generar id
      this.acceso.id = shortid.generate();
      console.log("this.acceso.id", this.acceso.id);
      //enviamos los datos

      this.setAccesos(this.acceso);

      this.acceso = {
        id: "",
        clave: "",
        contrasena: "",
        dates: "",
      };
    },
  },
};
</script>
<style>
.title-1 {
  margin: 2em 0;
}
.title-1 h5 {
  color: #2d6a0c;
}
.wrapper-app {
  padding: 10% 5%;
  padding-top: 0;
}
</style>
