<template>
  <div class="col-xs-12 card custom-card">
    <div class="row"></div>
    <div class="d-flex flex-wrap">
      <label for="">Identificador de usuario</label>
      <input
        type="text"
        class="form-control my-2"
        placeholder="Escribe tu clave"
        v-model.trim="acceso.clave"
      />
    </div>
    <div class="d-flex flex-wrap mt-3">
      <label for="">Contraseña</label>
      <input
        type="password"
        class="form-control my-2"
        placeholder="Escribe tu contraseña"
        v-model="acceso.contrasena"
      />
    </div>
    <div class="d-flex flex-wrap">
      <a class="text-center mx-auto" href="">¿Olvidaste tu contraseña?</a>
    </div>
    <!-- <p>{{ acceso.clave }} {{ acceso.contrasena }}</p> -->
  </div>
  <button class="btn" type="submit" :disabled="bloquear">
    Fichar
  </button>
</template>

<script>
export default {
  props: {
    acceso: Object,
  },
  computed: {
    bloquear() {
      return this.acceso.clave.trim() === "" ? true : false;
    }
  },
};
</script>

<style scoped>

.custom-card {
  padding: 2em;
  background: #ebe9f1;
  border-radius: 1em;
  border: none;
}
label {
  margin-bottom: 0;
}
input {
  border: none !important;
  border-bottom: 2px solid #5ccc7a !important;
  border-radius: 6px 6px 0 0 !important;
}
a {
  color: #58ac6e;
  margin-top: 1em;
	font-size: 14px;
}
button {
  margin-top: 1em;
	margin: 1em 0 !important;
	justify-content: center;
	width: 100%;
  color: #fff;
  border-radius: 4em !important;
  background: #5ccc7a;
}
button:hover {
  background: #58ac6e;
		margin: 1em 0 !important;
}
</style>