<template>
  <div class="col-xs-12 card custom-card">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Dia</th>
          <th scope="col">Dia semana</th>
          <th scope="col">Entrada/Salida</th>
          <!-- <th scope="col">Horas Trabajadas</th> -->
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in accesos" :key="item.id">
          <th scope="row">{{item.id}}</th>
          <td>{{item.clave}}</td>
          <td>{{item.contrasena}}</td>
          <td>{{item.date}}</td>

        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
	computed: {
		...mapState(['accesos'])
	}
};
</script>

<style>
th{
	font-size: 12px;
}
</style>