<template>
  <div class="col-xs-12 custom-card-mood">
    <div class="row mt-3">
      <p class="mx-auto w-100">Buenos días...</p>
      <div class="d-flex w-100 justify-content-between">
        <div class="d-block">
          <button class="btn btn-mood emogi-sensacional"></button>
          <div class="box-mood-sensacional">
            <p>Sensacional</p>
          </div>
        </div>
        <div class="d-block">
          <button class="btn btn-mood emogi-feliz"></button>
          <div class="box-mood-feliz">
            <p>Feliz</p>
          </div>
        </div>
        <div class="d-block">
          <button class="btn btn-mood emogi-neutral"></button>
          <div class="box-mood-neutral">
            <p>Neutral</p>
          </div>
        </div>
        <div class="d-block">
          <button class="btn btn-mood emogi-agobiado"></button>
          <div class="box-mood-agobiado">
            <p>Agobiado</p>
          </div>
        </div>
        <div class="d-block">
          <button class="btn btn-mood emogi-enfadado"></button>
          <div class="box-mood-enfadado">
            <p>Enfadado</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <p class="mx-auto w-100">...¡Hasta mañana!</p>
      <div class="d-flex w-100 justify-content-between">
        <div class="d-block">
          <button class="btn btn-mood emogi-sensacional"></button>
          <div class="box-mood-sensacional">
            <p>Sensacional</p>
          </div>
        </div>
        <div class="d-block">
          <button class="btn btn-mood emogi-feliz"></button>
          <div class="box-mood-feliz">
            <p>Feliz</p>
          </div>
        </div>
        <div class="d-block">
          <button class="btn-mood btn emogi-neutral"></button>
          <div class="box-mood-neutral">
            <p>Neutral</p>
          </div>
        </div>
        <div class="d-block">
          <button class="btn btn-mood emogi-agobiado"></button>
          <div class="box-mood-agobiado">
            <p>Agobiado</p>
          </div>
        </div>
        <div class="d-block">
          <button class="btn btn-mood emogi-enfadado"></button>
          <div class="box-mood-enfadado">
            <p>Enfadado</p>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center mt-3">Tiempo trabajado hoy:</p>
    <div class="row mt-3 card w-50 wrapper-time">
      <p>03:46:40s</p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.btn{
border-radius: 3em !important;
}
button:hover{
  transform: scale(1.1) !important;
}
button.button-mood {
  margin: 1em;
  cursor: pointer;
}
button.button-mood:hover {
  border: 1px solid yellow;
  cursor: pointer;
}
div.box-mood-sensacional {
  background: rgba(52, 132, 9, 0.35);
  padding: 4px;
  width: auto;
  height: 20px;
  margin: 4px;
}
div.box-mood-feliz {
  background: rgba(217, 262, 198, 1);
  padding: 4px;
  width: auto;
  height: 20px;
  margin: 4px;
}
div.box-mood-neutral {
  background: rgba(256, 247, 144, 0.56);
  padding: 4px;
  width: auto;
  height: 20px;
  margin: 4px;
}
div.box-mood-agobiado {
  background: rgba(252, 235, 198, 1);
  padding: 4px;
  width: auto;
  height: 20px;
  margin: 4px;
}
div.box-mood-enfadado {
  background: rgba(203, 96, 40, 0.6);
  padding: 4px;
  width: auto;
  height: 20px;
  margin: 4px;
}

div.box-mood-sensacional p,
div.box-mood-feliz p,
div.box-mood-neutral p,
div.box-mood-agobiado p,
div.box-mood-enfadado p {
  color: #020202;
  font-size: 12px;
  line-height: 1;
}
button.emogi-sensacional {
  background: url("../assets/img/sensacional.svg"), no-repeat;
  width: 50px;
  height: 50px;
  background-position: center;
  background-origin: initial;
}
/* button.emogi-sensacional:hover{
	/* animation: anim-hop 1s ease-in-out infinite alternate; */

/* } */
button.emogi-feliz {
  background: url("../assets/img/feliz.svg"), no-repeat;
  width: 50px;
  height: 50px;
  background-position: center;
  background-origin: initial;
}
button.emogi-neutral {
  background: url("../assets/img/neutral.svg"), no-repeat;
  width: 50px;
  height: 50px;
  background-position: center;
  background-origin: initial;
}
button.emogi-agobiado {
  background: url("../assets/img/agobiado.svg"), no-repeat;
  width: 50px;
  height: 50px;
  background-position: center;
  background-origin: initial;
}
button.emogi-enfadado {
  background: url("../assets/img/enfadado.svg"), no-repeat;
  width: 50px;
  height: 50px;
  background-position: center;
  background-origin: initial;
}
.card.custom-card-mood  {
  border: none !important;
  background: none;
  margin: 2em;
}
.wrapper-time {
  width: 50%;
  margin: 0 auto;
  height: 44px;
  line-height: 2.5;
  border-bottom: 2px solid #5ccc7a;
  border-radius: 6px 6px 0 0 !important;
}
.wrapper-time p {
  font-weight: 600;
  color: #58ac6e;
  font-size: 18px;
}
@media (min-width: 648px) {
  .card.custom-card-mood  {
    margin: 0;
  }
}
</style>