<template>
  <div class="navbar navbar-mood bg-dark">
    <router-link to="/" class="navbar-brand"
      >CLOCKING & MOOD | Apps work time</router-link
    >
    <div class="d-flex">
      <p class="hora">{{ moment().format("HH:mm") }}</p>
      <router-link to="/" class="btn btn-dark">Tareas</router-link>
      <router-link to="/" class="logout"></router-link>
    </div>
  </div>
</template>

<script>
var moment = require("moment");
moment.locale("es");
export default {
  data() {
    return {
      moment: moment,
    };
  },
};
</script>

<style scoped>
.navbar-mood {
  background: #5ccc7a !important;
}
.navbar-brand {
  color: #020202 !important;
}
.logout {
  background: url("../assets/img/logout.svg"), no-repeat;
  width: 15px;
  height: 15px;
  background-position: center;
  background-origin: initial;
  margin: 1em;
}
.hora {
  margin: 1em;
  color: #fff;
  font-weight: 600;
}
</style>