<template>
<div class="mt-3 wrapper col-xs-12 ">
	<div class="row">
		<h3> Buenos días, Antonio</h3>
	</div>
  <!-- <div>{{moment('2021-01-01 11:00:00').fromNow()}}</div> -->
  <!-- <span class="row">{{ moment().format("MMMM Do YYYY, h:mm:ss a") }}</span> -->
  <span class="row">{{ moment().format("LLLL") }}</span>
</div>
</template>

<script>
var moment = require("moment");
moment.locale('es');
export default {
  data() {
    return {
      moment: moment
    };
  },
};
</script>

<style>
.wrapper{
	padding: 0 7.5%;
}
</style>