<template>
  <Navbar />
  <router-view/>
</template>
<script>
import {mapActions} from 'vuex'
import Navbar from "./components/Navbar";
export default {
  components: {
     Navbar
  },
  methods: {
    ...mapActions(['cargarLocalStorage'])
  },
  created() {
    this.cargarLocalStorage()
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>
